html{
    font: 16px/1 'Roboto', sans-serif;
    line-height: 1.8rem;
}
@media (max-width: 992px) {
    html{
        font-size: 12px;
        line-height: 1.8rem;
    }
    .row{
        margin: 0;
    }
    .col-4{
        flex: 0 0 100% !important;
    	max-width: 100% !important;
        padding: 0;
    }
}
.header .phone {
    display: block;
    line-height: 1;
}
.header .phone p{
    padding: 0;
    margin: 0;
    font-size: .9rem;
    text-align: center;
    letter-spacing: 2px;
    transform: scaleY(1.3);
}
.header .phone span{
    font-size: 1.5rem;
    color: #d3874a;
    display: inline-block;
    transform: scaleY(1.3);
    margin-top: .5rem;
}
.container {
    max-width: 60rem;
    width: auto !important;
    padding: 3rem 2rem;
}

.header{
	height: 6rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(99,99,99,0.1);
}
.header img{
	width: 7rem;
    margin: 0 2rem;
}
h2{
	font-size: 1.5rem;
    font-weight: 300;
    color: #2b2b2b;
    margin: 0 auto .75em;
}
#viphire {
	color: #2b2b2b;
	font: 16px/1 'Roboto', sans-serif;
    height: 100%;
}

#viphire img {
	width: 100%;
    transition: .5s;
}

#viphire .item-list {
	cursor: pointer;
    margin: 1rem 0;
}
.hoverImg {
    line-height: 1 !important;
    overflow: hidden;
}
.hoverImg:hover img{
    transform: scale(1.1);
}
#viphire .item-list p{
    line-height: 1.8rem;
    word-break: break-all;
    margin: 0;
    font-size: .9rem;
}
#viphire .item-list p.title{
    margin-top: .8rem;
}
#viphire .item-list p.price{
    color: #4d4d4d;
}
#viphire .item-list:hover .title {
	color: #ff8f2c;
}

