<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Lemon Tree Property</title>
  </head>
  <body>
  	<div class="header">
  		<img src="./static/images/lemontreelogo.jpg">
      <div class="phone">
        <p>24小时预订热线</p>
        <span>021 328 006</span>
      </div>
  	</div>
    <div id="details" class="container">
      <div class="breadcrumbs"><a href="lemontree.html">Auckland CBD</a> > <span v-text="info.title"></span></div>
      <div class="row">
        <div class="col-6">
          <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="item in info.img_list"><img :src="item.url_large"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="item in info.img_list"><img :src="item.url"></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h2 v-text="info.title"></h2>
          <h3 class="d-d">
            <span v-text="'NZ'+info.price"></span>
            <span v-text="info.code"></span>
          </h3>
          <div class="paragraph">
            <p v-for="item in info.paragraph" v-text="item"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
